@charset "UTF-8";
@import url(reset.css);
@import url(variables.css);
@import url(modal.css);

/* Área da Logo e Título da seção: "Login" ou "Cadastro" */
.area-logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.area-logo-title img {
    width: 200px;
    height: 140px;
}

#title-section {
    color: var(--color-A);
}

/* Área de Formulário */
#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2em 20%;
}

.icon-and-placeholder {
    display: grid;
    grid-template-columns: 10% 75% 10%;
    gap: 0.5em;
    border-bottom: 2px solid var(--color-C);
    padding: 20px 0 5px 0;
    width: 100%;
}

.input-login {
    font-family: var(--fonte-A);
    font-size: 1.5em;
    color: var(--color-A);
    outline: none;
}

.input-login::placeholder,
.form-i {
    color: var(--color-C);
}

.form-i {
    font-size: 1.7em;
}

/* Área de 'Esqueceu a senha?' e Botão de Login */
.forgot-and-button-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2em 0;
    gap: 5em;
}

#link-forgot-password {
    color: var(--color-A);
    font-size: 1em;
}

#link-forgot-password:hover {
    text-decoration: underline;
}

#button-login-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3em;
    font-family: "Questrial", serif;
    background-color: var(--color-A);
    border-radius: 30px;
    border: none;
    padding: 1em;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#button-login-modal:hover {
    background-color: var(--color-H);
    transform: scale(1.1);
}
