:root {
    --color-A: #093988;
    --color-B: #FFB33F;
    --color-C: #0047a561;
    --color-D: rgb(1, 76, 174);
    --color-E: #0047a51e;
    --color-F: rgb(16, 63, 125);
    --color-G: #ffc061;
    --color-H: #2656a3;
    --color-background-form: #d4e0f4;
    --color-background-modal: #011127cb;
    --color-background-main: white;
    --color-background-support: #FCFAFA;
    --fonte-A: "Questrial", serif;
    --font-size-title: 2rem;
    --font-size-p: 1.7em;
  }