@charset "UTF-8";
@import url(reset.css);
@import url(variables.css);

body{
    font-family: "Questrial", serif;
}

header {
    display: flex;
    font-size: 1.5em;
    background-color: white;
    box-shadow: 0 0 7px var(--color-A);

    padding: 0.8em 4em;  
}

.nav-bar ul {
    display: grid;                /* Usando Grid */
    grid-template-columns:  auto 2px auto 2px auto 2px auto auto auto;
    align-items: center;        /* Centraliza os itens verticalmente */

    width: 100%;                 
    height: 100%;
}

.nav-bar li {
    display: flex;             
    justify-content: center;    
    align-items: center;        

    width: 100%;                
    height: 75%;
}

.nav-bar {
    display: flex;
    align-items: center;

    width: 100%;
}

.nav-bar a {
    color: var(--color-A);   
    align-content: center;
    height: 100%;
}

.logo {
    width: 40%;
}

.separador{
    background-color: var(--color-A);
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        var(--color-A), 
        rgba(0, 0, 0, 0) 
    );
}

#button-login {
    display: flex;
    color: white;
    font-size: 1em;
    font-family: "Questrial", serif;
    background-color: var(--color-A);
    border-radius: 30px; 
    justify-content: left;    
    align-items: center; 
    border: none;
    transition: transform 0.3s ease-in-out;

    padding: 0em 1em;
    height: 70%;
}

#button-login:hover {
    background-color: #0047a5e7;
    transform: scale(1.1); 
}

.bi-box-arrow-in-right{
    font-size: 1.2em;
    color: var(--color-B);

    margin-left: 10px;
}

