<section id="suporte" class="suporte-container">
    <!-- Menu de Navegação Fixo -->
    <nav class="suporte-menu" >
        <ul>
            <li>
                <a id="link-faq" href="#faq" class="active">Perguntas Frequentes</a>
            </li>
            <li>
                <a id="link-form-contact" href="#sec-form-contact">Fale Conosco</a>
            </li>
            <li>
                <a id="link-direct-contact" href="#contato-direto">Contato Direto</a>
            </li>
        </ul>
    </nav>
    
    <!-- Seção de Perguntas Frequentes (FAQ) -->
    <div id="faq" class="faq" data-aos="fade-in">
        <h1>Perguntas Frequentes</h1>
        <div id="items-faq-and-icon">
            <div id="items-faq">
                <div class="faq-item">
                    <div class="faq-header">
                        <summary>Como criar uma conta?</summary>
                        <span class="arrow">&#9654;</span> <!-- Seta para a direita -->
                    </div>
                    <p>Para criar uma conta, clique em "Entrar" no topo da página e selecione "Cadastrar-se".</p>
                </div>
                <div class="faq-item">
                    <div class="faq-header">
                        <summary>Como anunciar um imóvel?</summary>
                        <span class="arrow">&#9654;</span> <!-- Seta para a direita -->
                    </div>
                    <p>Após fazer login, vá até o seu perfil e clique em "Anunciar Imóvel".</p>
                </div>
                <div class="faq-item">
                    <div class="faq-header">
                        <summary>O QuixAlugue cobra alguma taxa?</summary>
                        <span class="arrow">&#9654;</span> <!-- Seta para a direita -->
                    </div>
                    <p>Não. O QuixAlugue é um serviço gratuito para estudantes e locadores.</p>
                </div>
                <div class="faq-item">
                    <div class="faq-header">
                        <summary>O QuixAlugue cobra alguma taxa?</summary>
                        <span class="arrow">&#9654;</span> <!-- Seta para a direita -->
                    </div>
                    <p>Não. O QuixAlugue é um serviço gratuito para estudantes e locadores.</p>
                </div>
            </div>
        </div>
        <!--
        <div id="support-search-faq">
            <i class="bi bi-search"></i>
            <input id="support-search-camp" type="text" placeholder="Encontre sua dúvida..."/>
        </div>
        --> 
    </div>

    <!-- Seção de Formulário de Contato -->
    <div id="sec-form-contact" class="formulario-contato" data-aos="fade-in">
        <h1>Fale Conosco</h1>
        <form id="form-contact" action="#" method="post">
            <div class="item-form-contact">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Seu nome" required>
            </div>
            <div class="item-form-contact">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Seu Email" required>
            </div>
            <div class="item-form-contact">
                <label for="assunto">Assunto:</label>
                <select id="assunto" name="assunto">
                    <option value="" disabled selected>- Selecione -</option>
                    <option value="duvida">Dúvida</option>
                    <option value="problema">Problema técnico</option>
                    <option value="denuncia">Denúncia</option>
                    <option value="sugestao">Sugestão</option>
                </select>
            </div>
            <div class="item-form-contact">
                <label for="mensagem">Mensagem:</label>
                <textarea id="msg-form-contact" name="mensagem" rows="4" required></textarea>
            </div>
            <button class="button-yellow-hover" id="button-send-msg-support" type="submit">Enviar Mensagem</button>
        </form>
    </div>

    <!-- Seção de Contato Direto -->
    <div id="contato-direto" class="contato-direto" data-aos="fade-right">
        <h1>Contato Direto</h1>
        <div id="content-cont-dir">
            <div id="business-contact" class="sect-sup-cont-dir">
                <div class="profile-cont-dir">
                    <img src="assets/img/icone-barra-nav.png" alt="Ícone do QuixAlugue">
                </div>
                <p>
                    <strong> 
                        <i class="bi bi-envelope-fill"></i> 
                    </strong> quixalugue@gmail.com
                </p>
                <p>
                    <strong> <i class="bi bi-whatsapp"></i> </strong> (88) 9 9755-1210
                </p>
                <p>
                    <strong>Redes Sociais:</strong> <br>
                    <div id="links-social-media">
                        <a href="" target="_blank">
                            <i class="bi bi-instagram"></i> INSTAGRAM 
                        </a>  
                        <a href="" target="_blank"> 
                            <i class="bi bi-facebook"></i> FACEBOOK 
                        </a> 
                    </div> 
                </p>
            </div>
    
            <div class="separador"></div>
    
            <div id="business-contact" class="sect-sup-cont-dir">
                <div class="profile-cont-dir">
                    <img src="assets/img/fotodeperfil.png" alt="Foto de perfil do criador da página">
                </div>
                <p>
                    <strong> <i class="bi bi-envelope-fill"></i> </strong> fraedisansil@gmail.com
                </p>
                <p>
                    <strong> <i class="bi bi-whatsapp"></i> </strong> (88) 9 8803-9111
                </p>

                <p>
                    <strong>Redes Sociais:</strong> 
                    <div id="links-social-media">
                        <a href="https://www.instagram.com/everestt_ed/" target="_blank">
                            <i class="bi bi-instagram"></i> INSTAGRAM 
                        </a> 
                        <a href="https://www.facebook.com/edinaldo.nogueira.370" target="_blank"> 
                            <i class="bi bi-facebook"></i> FACEBOOK 
                        </a> 
                    </div>
                </p>      
            </div>
        </div>
    </div>
</section> 