/* Reset e Estilos Globais ------------------------------------------------------*/
html {
    scroll-padding-top: 12em; 
}

.suporte-container {
    position: relative;
    padding-top: 6em;
    font-family: var(--fonte-A);
    background-color: var(--color-background-support);
}

/* Menu de Suporte --------------------------------------------------------------*/
.suporte-menu {
    position: fixed;
    top: 7.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    background-color: white;
    z-index: 1000;
    border: 4px solid var(--color-A);
    text-align: center;
    justify-content: center;
    border-radius: 1em;
}

.suporte-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.suporte-menu ul li {
    width: 100%;
    padding: 0;
}

.suporte-menu ul li a {
    display: block;
    text-decoration: none;
    color: var(--color-A);
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.4s ease;
    position: relative;
}

.suporte-menu ul li a:hover {
    background-color: var(--color-G);
    color: var(--color-A);
    padding-left: 1.5em;
    box-shadow: 0 2px 5px var(--color-A);
    scale: 1.02;
}

#link-faq {
    border-right: 4px solid var(--color-A);
}

#link-direct-contact {
    border-left: 4px solid var(--color-A);
}

#link-faq.active,
#link-form-contact.active, 
#link-direct-contact.active {
    background-color: var(--color-A);
    color: white;
    padding-left: 1.5em;
    box-shadow: 0 2px 5px var(--color-A);
}

#link-faq:hover, 
#link-faq.active{
    border-radius: 0.6em 0 0 0.6em;
}

#link-direct-contact:hover,
#link-direct-contact.active {
    border-radius: 0 0.6em 0.6em 0;
}

/* Seções do Suporte ---------------------------------------------------------------*/

.suporte-container h3 {
    font-size: var(--font-size-title);
    justify-self: center;
    margin-bottom: 1.5em;
}

#faq, 
#contato-direto,
#sec-form-contact {
    padding: 2em 8em;
}

#faq h3, 
#contato-direto h3,
#sec-form-contact h3 {
    color: var(--color-A);
}

/* FAQ (Perguntas Frequentes) -------------------------------------------------------*/
#items-faq {
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: white;
    padding-bottom: 8em;
    width: 50%;
    align-self: center;
}

/*Título das FAQS e Área de Pesquisa*/
#title-and-search{
    display: flex;
    gap: 15%;
    padding-bottom: 2em;
    align-content: center;
    justify-content: center;
}

#support-search-faq{
    display: flex;
    border: 2px solid var(--color-A);
    color: var(--color-A);
    border-radius: 2em;
    align-content: center;

    padding: 0.6em 1.5em;
    width: 25%;
}

#support-search-faq i{
    font-size: 1.3rem;
    align-items: center;
}

#support-search-camp{
    color: var(--color-A);
    font-family: var(--fonte-A);
    outline: none;
    width: 100%;
    margin-left: 1em;
}

#support-search-camp, textarea{
    font-size: 1.3rem;
}

#support-search-camp::placeholder{
    color: var(--color-A);
    font-family: var(--fonte-A);
}
/* Àrea das perguntas */
.faq-item {
    background-color: var(--color-A);
    padding: 1.5em;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-item.open {
    background-color: #2b518f; 
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-header summary {
    font-size: var(--font-size-p);
    cursor: pointer;
    margin: 0;
}

.faq-header .arrow {
    font-size: 1.2em;
    transition: transform 0.6s ease;
}

.faq-item.open .arrow {
    transform: rotate(90deg); 
}

.faq-item p {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    transition: opacity 0.5s ease, max-height 0.2s ease, margin-top 0.2s ease;
}

.faq-item.open p {
    opacity: 1;
    visibility: visible;
    max-height: 10em;
    margin-top: 1em; 
}

#items-faq p {
    font-size: 1.3em;
}

#items-faq-and-icon {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding-bottom: 4em;
}

/* Formulário de contato -------------------------------------------------------*/
#sec-form-contact {
    justify-items: center;
    padding-bottom: 4em;
}

#form-contact{
    display: flex;
    flex-direction: column;
    background-color: var(--color-A);
    color: white;
    border-radius: 1.5em;
    font-size: 1.4em;

    width: 45%;
    padding: 2em;
    gap: 1em;
}

#form-contact label{
    font-size: 0.8em;
    margin-left: 0.5em;
}

.item-form-contact {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#sec-form-contact input{
    color: var(--color-A);
    outline: none;
    font-size: 1em;
    border-radius: 0.5em;
    height: 2em;
    font-family: var(--fonte-A);
    background-color: var(--color-background-form);
}

#sec-form-contact input::placeholder{
    color: var(--color-C);
}

#sec-form-contact input, textarea{
    color: var(--color-A);
    padding: 1em;
}

#assunto {
    width: 100%; 
    padding: 0.5em;
    font-size: 0.9em;
    font-family: var(--fonte-A);
    color: var(--color-A);
    background-color: var(--color-background-form);
    border-radius: 0.5em;
    cursor: pointer; 
    transition: all 0.3s ease; 
}

#assunto:focus {
    border-color: var(--color-A); 
    outline: none; 
}

#assunto option {
    padding: 1em; 
    font-size: 1em; 
    background-color: var(--color-E);
    color: var(--color-A); 
}

#assunto option:checked {
    background-color: var(--color-A); 
    color: white; 
}

#msg-form-contact{
    outline: none;
    border-radius: 1em;
    font-size: 1em;
    font-family: var(--fonte-A);
    background-color: var(--color-background-form);
}

#button-send-msg-support {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-A);
    font-size: 0.8em;
    font-family: "Questrial", serif;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#button-send-msg-support:hover {
    background-color: var(--color-D);
}
