:root {
    --color-A: #0047A5;
    --color-B: #FFB33F;
    --color-C: #0047a561;
    --color-D: #011f48e7;
    --color-E: #0047a51e;
    --color-background-modal: #011127cb;
    --fonte-A: "Questrial", serif;
  }