<div id="home-page">
    <div id="header-sec">
        <div id="column-point-bus" class="column-header-sec">
            
            <div id="cont-buttons-bus-point">
                <!--Rodoviária-->
                <button id="list-ad-point-1" class="point-bus-button">Rodoviária</button>
                <!--RAndré Car Veículos-->
                <button id="list-ad-point-2" class="point-bus-button">Res. F. Menezes</button>
                <!--Construtec-->
                <button id="list-ad-point-3" class="point-bus-button">Construtec</button>
                <!--Shalom-->
                <button id="list-ad-point-4" class="point-bus-button">Shalom</button>
            </div>
        </div>
        <div id="column-search-ad" class="column-header-sec">
            
            <div id="container-search-ad">
                <input type="text" id="search-ad" placeholder="Buscar imóvel...">
                <i id="icon-search-ad" class="bi bi-search"></i>
            </div>
        </div>
        <div class="column-header-sec">
            
            <div id="cont-buttons-estrategic-point">
                <div class="estrategic-point-op" id="Universidade">
                    <button class="menu-points-btn">Universidade</button>
                    <div class="point-op-content">
                        <a href="#">Opção 1</a>
                        <a href="#">Opção 2</a>
                        <a href="#">Opção 3</a>
                    </div>
                </div>
                <div class="estrategic-point-op" id="drogarias">
                    <button class="menu-points-btn" id="button-farmacia">Drogaria</button>
                    <div class="point-op-content">
                        <a href="#">Opção 1</a>
                        <a href="#">Opção 2</a>
                        <a href="#">Opção 3</a>
                    </div>
                </div>
                <div class="estrategic-point-op" id="mercados">
                    <button class="menu-points-btn" id="button-mercado">Supermercado</button>
                    <div class="point-op-content">
                        <a href="#">Opção 1</a>
                        <a href="#">Opção 2</a>
                        <a href="#">Opção 3</a>
                    </div>
                </div>
                <div class="estrategic-point-op" id="academias">
                    <button class="menu-points-btn" id="button-academia">Academia</button>
                    <div class="point-op-content">
                        <a href="#">Opção 1</a>
                        <a href="#">Opção 2</a>
                        <a href="#">Opção 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section id="ad-grid"></section>

    <div id="modal-ad-card" role="dialog" aria-modal="true">
        <div id="modal-content-ad-card">
            <div id="content-ad-card">
                <div class="gallery">
                    <div class="controls">
                        <button id="prevBtn" class="bttn-gallery">
                            <i class="bi bi-caret-left-fill"></i>
                        </button>
                        <button id="nextBtn" class="bttn-gallery">
                            <i class="bi bi-caret-right-fill"></i>
                        </button>
                    </div>
                </div>
                <div id="description-ad">
                    <button id="bttn-close-modal-ad-card" aria-label="Fechar">
                        <span class="icon-default">
                            <i class="bi bi-x-circle"></i>
                        </span>
                        <span class="icon-hover">
                            <i class="bi bi-x-circle-fill"></i>
                        </span>
                    </button>
                    <div id="description-ad-text">
                        <h1 id="title-modal-ad-card">Apartamento aconchegante próximo à universidade</h1>
                        <p>
                            <span id="description-property">Ótima oportunidade para estudantes! Este apartamento de 2 quartos está localizado a apenas 5 minutos de um ponto de ônibus que leva direto à universidade. Possui uma sala espaçosa, cozinha equipada e banheiro moderno. O imóvel conta com internet inclusa, além de segurança 24h e uma lavanderia compartilhada.</span>
                        </p>

                        <p>
                            <i class="bi bi-cash-coin"></i>
                            <strong>Aluguel: </strong> R$ 
                            <span id="description-ad-rent-value"></span>
                            por mês.
                        </p>
                        <p>
                            <i class="bi bi-geo-alt"></i>
                            <strong>Localização: </strong>
                            <span id="description-ad-rent-location"></span>
                        </p>
                        <p>
                            <i class="bi bi-hourglass-split"></i>
                            <strong>Tempo de contrato: </strong>
                            <span id="description-ad-rent-time"></span>
                             meses. 
                        </p>

                        <p>Ficou interessado? entre em contato com o proprietário clicando no botão abaixo: </p>
                        <button id="contact-owner">Entrar em contato</button>
                    </div> 
                </div>
            </div>
        </div>
    </div> 
    
</div>