<div id="sobre-nos">
    <section class="sobre-box" id="missao" data-aos="fade-right">
        <h2> Nossa Missão</h2>
        <div class="about-text-and-icon">
            <p class="about-text">
                Facilitar o acesso de universitários da cidade de Quixadá a imóveis acessíveis e estrategicamente localizados, promovendo a inclusão social e acadêmica por meio de uma plataforma intuitiva e eficiente que conecta locadores e estudantes, garantindo comodidade, praticidade e qualidade de vida.
            </p>
            <img id="about-icon-mission" class="about-icon" src='assets/img/mission-icon.png' alt="">
        </div>
    </section>

    <section class="sobre-box" id="visao" data-aos="fade-left">
        <h2> Nossa Visão</h2>
        <div class="about-text-and-icon">
            <img id="about-icon-vision" class="about-icon" src='assets/img/vision-icon.png' alt="">
            <p class="about-text">
                Ser o principal meio de anúncio e busca por moradia temporária para universitários em Quixadá, ampliando o acesso a imóveis acessíveis e bem localizados, além de contribuir para o desenvolvimento socioeconômico da cidade, tornando-se um modelo replicável em outras cidades universitárias.
            </p>
        </div>
    </section>

    <section class="sobre-box" id="valores" data-aos="fade-right">
        <h2>Nossos Valores</h2>
        <div class="about-text-and-icon">
            <p class="about-text">
                <span class="about-values-items">
                    <strong>Acessibilidade Financeira:</strong> Anúncios de aluguel limitados a R$ 1000. <br>
                </span>
                <span class="about-values-items">
                    <strong>Justiça e Inclusão:</strong> Tornar a busca por moradia mais equitativa e inclusiva, especialmente para estudantes com recursos financeiros limitados. <br>
                </span>
                <span class="about-values-items">
                    <strong>Proximidade Estratégica:</strong> Focar em imóveis próximos a pontos de interesse acadêmico e serviços essenciais.
                </span>
            </p>
            <img id="about-icon-value" class="about-icon" src='assets/img/values-icon.png' alt="">
        </div>
    </section>
</div>
